# Ignoring disk images for cloud images
run/base/*.img
!run/base/*.md

# Ignoring running VM image, seed and config files
run/images/**
!run/images/*.md

# Ignoring running dnsmasq config files
run/dnsmasq/**
!run/dnsmasq/*.md

# Ignoring running libvirt network config files
run/libvirt-network/**
!run/libvirt-network/default.xml
!run/libvirt-network/template_network.xml
!run/libvirt-network/*.md

.vscode**
.venv**